/* NAVBAR */

nav {
  height: var(--nav__height);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #151515;
}

.navbar__container {
  height: var(--nav__height);
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.nav__halfs {
  display: flex;
  gap: 20px;
  align-items: center;
  height: var(--nav__height);
  background-image: url();
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__leftImage {
  object-fit: contain;
  height: calc(var(--nav__height) - 30px);
  cursor: pointer;
  transition: all 300ms ease;
}

.nav__leftImage:hover {
  transform: scale(1.1);
}

.nav__Item {
  display: flex;
  align-items: center;
}

.nav_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(245, 245, 245, 0.75);
  border-radius: 100%;
  padding: 8px;
}

/* RESULTS */

.page-r__container {
  width: 100vw;
  height: calc(100vh - var(--nav__height));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.back__button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 15px 30px;
  outline: none;
  border-radius: 5px;
  background-color: #171717;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.results__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  flex-wrap: wrap;
  padding-top: 30px;
  overflow: hidden;
  margin: 0px 50px;
}

.page-r__nf {
  font-size: 100px;
  font-weight: 900;
}

/* MOVIE TILE */

.mt__divider {
  width: calc(100% / 5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 30px;
}

.mt__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  filter: brightness(0.75);
  transition: all 300ms ease;
}

.mt__container:hover {
  filter: brightness(1);
  cursor: pointer;
}

.mt__container:hover .mt__image {
  transform: scale(1.2);
}

.mt__container:hover .mt__title {
  transform: translateY(-3px) scale(1.1);
}
/* .mt__container:hover .mt__year {
  transform: translateY(-2.5px);
} */

.mt__image {
  height: calc(100% - var(--mt__text--heigt));
  object-fit: fill;
  width: 100%;
  /* max-height: 300px;
  min-height: 300px; */
  height: 300px;
  z-index: 10;
  transition: all 300ms ease-in-out;
}

.mt__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--mt__text--heigt);
  width: 100%;
  background-color: #202020;
  box-shadow: 0px 0px 50px rgba(220, 26, 40, 0.5);
  transition: all 300ms ease;
}

.mt__text--container {
  background-color: #202020;
  width: 100%;
  height: var(--mt__text--heigt);
  padding: 10px 20px;
  z-index: 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.mt__text--container * {
  text-align: center;
}

.mt__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 18px;
  transition: all 300ms ease;
}

.mt__year {
  font-size: 14px;
  color: #999999;
  transition: all 300ms ease-in-out;
}

/* INDIV MOVIE PAGE */

.page-mp__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - var(--nav__height));
  position: relative;
}

.imovie__container {
  width: 1500px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.imovie__image {
  width: 30%;
  height: 100%;
  z-index: 10;
}

.imovie__text--container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.imovie__title--container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0px 50px;
  padding-top: 20px;
  background-color: #151515;
  z-index: 9;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

.imovie__title--extras {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* height: 68px; */
  height: 100%;
  padding: 0px 10px;
}

.imovie__title--extras * {
  text-align: center;
}

.imovie__rated:hover {
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.4);
}

.imovie__title {
  font-size: 26px;
  position: relative;
  width: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.imovie__plot {
  width: 100%;
  max-width: 600px;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.imovie__rated {
  width: fit-content;
  min-width: 40px;
  height: fit-content;
  min-height: 40px;
  background-color: red;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  padding: 0px 10px;
}

.imovie__released {
  font-size: 14px;
  color: #999999;
}

.imovie__details--container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 50px;
  gap: 10px;
}

.imovie__details--container > * {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.imovie__details--container > * > p {
  font-weight: 700;
  font-size: 24px;
  color: rgba(220, 26, 39, 0.8);
}

.imovie__details--container > * > h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  max-width: 900px;
}

.result__page--selector {
  width: 50px;
  height: 50px;
  background-color: #202020;
  cursor: pointer;
  transition: all 100ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.result__page--selector svg {
  width: 30px;
}

.result__page--selector:active {
  transform: scale(1.1);
}
